body {
    background-color: rgb(115, 170, 108);
}

button {
    border: none;
}

.boardDIV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerCLASS {
  text-align: center;
  font-weight: bold;
  font-family: "Courier";
  font-size: 3rem;
  margin: 20px;
}
